<div class="row" >
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span>
                            &copy; 2015 - VESHUB - The Schedule Platform
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-xs-3">
                        <h4>COMPANY</h4>
                        <p><a href="/Home/About">About</a></p>
                        <p><a href="/Home/Contact">Contact</a></p>
                    </div>
                    <div class="col-xs-3">
                        <h4>PRODUCT</h4>
                        <p><a href="/Home/Terms">Terms</a></p>
                        <p><a href="/Home/Privacy">Privacy</a></p>
                        <p><a href="/Home/Features">Features</a></p>
                        <p><a href="/Home/Pricing">Pricing</a></p>
                    </div>
                    <div class="col-xs-3">
                        <h4>HELP</h4>
                        <p><a href="/Docs">Documentation</a></p>
                        <p><a href="/Home/Tutorials">Video Tutorials</a></p>
                        
                        <p><a href="/Developer">API</a></p>
                    </div>
                    <div class="col-xs-3">
                        <h4>CONNECT</h4>
                        <p>
                            <a href="https://twitter.com/veshub" target="_blank"><span class="fa fa-twitter"></span> Twitter</a>
                        </p>
                        <p>
                            <span class="fa fa-linkedin"></span> LinkedIn
                        </p>
                        <p>
                            <a href="https://www.youtube.com/channel/UC2BZjwXeTFsjJcStUoXUswQ" target="_blank"><span class="fa fa-youtube"></span> YouTube</a>
                        </p>
                        <p>
                            <a href="mailto:support@veshub.com" target="_blank"><span class="fa fa-envelope"></span> Email us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>