<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="www.veshub.com"/>
	<link rel="icon" type="image/ico" href="/favicon.ico?v=2">
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico?v=2" />
	<title>VESHUB Docs - {{ page.title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-compiled.css" />
	<link rel="stylesheet" href="/css/site.css" />
</head>