<div id="navlist">
    <ul class="nav nav-list" style="margin-left: 0">
        <li><a href="/">Introduction</a></li>        
        <li>
            <label data="tree-toggler">Getting started</label>
            <ul class="nav nav-list">
                <li><a href="/getting-started/#registration">Registration &amp; Login</a></li>
                <li><a href="/getting-started/#dashboard">The dashboard</a></li>
                <li><a href="/getting-started/#find-ship">Find a ship</a></li>
                <li><a href="/getting-started/#add-to-favorites">Add to favorites</a></li>
                <li><a href="#">Remember a port call</a></li>
                <li><a href="#">Sign up for a port call</a></li>
            </ul>
        </li>
        <li>
            <label data="tree-toggler">Basics</label>
            <ul class="nav nav-list">
                <li><a href="/basics/#terminology">Terminology</a></li>
                <li><a href="#">Concepts</a></li>
            </ul>
        </li>
        <li>
            <label data="tree-toggler">Edit schedules</label>
            <ul class="nav nav-list">
                <li><a href="#">Create a new portcall</a></li>
                <li><a href="#">Alter an existing portcall</a></li>
                <li><a href="#">Set and dismiss agent</a></li>
                <li><a href="#">Delete a portcall</a></li>
            </ul>
        </li>
        <li>
            <label data="tree-toggler">Companies</label>
            <ul class="nav nav-list">
                <li><a href="#">Company types</a></li>
                <li><a href="#">Create a company</a></li>
                <li><a href="#">Join an existing company</a></li>
                <li><a href="#">Manage company members</a></li>
                <li><a href="#">Company settings</a></li>
                <li><a href="#">Delete a company</a></li>
                <li>
                    <label data="tree-toggler">Shipping companies</label>
                    <ul class="nav nav-list">
                        <li><a href="#">Adding vessels</a></li>
                        <li><a href="#">Manage vessels</a></li>
                    </ul>
                </li>
                <li>
                    <label data="tree-toggler">Agencies</label>
                    <ul class="nav nav-list"></ul>
                </li>
            </ul>
        </li>
        <li>
            <label data="tree-toggler">Alter your account</label>
            <ul class="nav nav-list">
                <li><a href="/account/general-settings.html">General account settings</a></li>
                <li><a href="#">Change profile settings</a></li>
                <li><a href="/account/notification-settings.html">Notification settings</a></li>
                <li><a href="#">Edit identity document</a></li>
                <li><a href="#">Change password</a></li>
                <li><a href="#">Recover password</a></li>
                <li><a href="#">Delete account</a></li>
            </ul>
        </li>
    </ul>
</div>