<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div id="wrap">
        <div class="navbar navbar-inverse" style="border: 0; border-radius: 0">    
            <div class="container">
                <div class="navbar-header">            
                    <a class="navbar-brand" href="/">VESHUB Docs <small>(beta)</small></a>
                </div>        
            </div>
        </div>
        
        <div id="bodyContent" class="container">
            <div class="row">
                <div class="col-sm-3">
                    {% include navlist.html %}
                </div>   
                <div class="col-sm-9">
                    <div class="alert alert-warning">
                        Please be merciful with us, if the documentation is not yet complete and perfect. We are
                        still working on it.
                    </div> 
                    {{ content }}
                </div>   
            </div>
        </div>

        <div id="push"></div>
    </div>

    <div id="footer" class="container-fluid footer">
        {% include footer.html %}
    </div>

    {% include scripts.html %}
</body>
</html>